/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

body {
  background-color: #dedede;
}
.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.videoask {
  position: fixed;
  bottom:0;
  left: 0;
  height:100vh;
  width: 100vw;
}

.btn-primary {
  color: #fff;
  background-color: #FF6740;
  border-color: #FF6740;
}

.btn-primary:hover {
  color: #fff;
  background-color: #E7606A;
  border-color: #E7606A;
}
